insightface==0.7.3
onnxruntime==1.18.1
opencv-python-headless==4.10.0.84
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1
matplotlib==3.9.1
seaborn==0.13.2
plotly==5.23.0
streamlit==1.38.0
streamlit-option-menu==0.3.13
Pillow==10.4.0
PyYAML==6.0.2
nbformat==5.10.4
jupyter==1.0.0
fastapi==0.112.0
uvicorn==0.30.5
python-multipart==0.0.9

